@import "../../../scss/add-ons";

:local {
  .contact {
    text-align: center;
    width: 100%;
  }

  .contactContent {
    @include centre('both');
    width: 100%;
  }

  .contactTitle {
    margin-bottom: 30px;
  }

  .contactSubTitle {
    font-weight: 400;
    margin: 30px 0 15px;
  }

  .contactSocial {
    cursor: pointer;
    width: 45px;
  }
}
