@import "../../../scss/add-ons";

:local {
  .contact {
    text-align: center;
    width: 100%;
  }

  .contactContent {
    @include centre('both');
    width: 100%;
  }

  .contactTitle {
    margin-bottom: 30px;
  }

  .contactSubTitle {
    margin-bottom: 15px;
  }
}
