@import "../../../scss/add-ons";

:local {
  .contact {
    text-align: center;
    width: 100%;

    .content {
      @include centre('both');
      width: 100%;
    }

    .title {
      margin-bottom: 30px;
      opacity: 0;

      transition: opacity .6s;
    }

    .subtitle {
      font-weight: 400;
      margin: 30px 0 15px;
    }

    .details {
      opacity: 0;

      transition: opacity .8s .4s;
    }

    .socialIcon {
      cursor: pointer;
      width: 35px;
    }

    &.show {
      .title,
      .details {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 736px) and (orientation: landscape) {
    .contact {
      .title {
        margin-bottom: 10px;
      }

      .subtitle {
        margin: 10px 0;
      }
    }
  }
}
