@import "../../../scss/add-ons";

:local {
  .hero {
    height: 100%;
    position: relative;
    width: 100%;

    .heroContent {
      @include centre('both');
      text-align: center;
      width: 100%;
    }

    .heroTitleDivider {
      margin: 0 auto 5px;
      position: relative;
      width: 160px;

      &::before,
      &::after {
        @include centre("vertical");
        content: "";
        border-top: 1px solid $black-1;
        width: 45px;
      }

      &::before {
        left: 5px;
      }

      &::after {
        right: 5px;
      }
    }

    .heroTitleLower {
      margin-bottom: 9px;
    }

    .heroTitleUpper,
    .heroTitleDivider,
    .heroTitleLower,
    .heroTitleAddress {
      opacity: 0;
    }

    .heroTitleUpper {
      transform: translateY(10px);
      transition: opacity 1.2s ease-out,
                  transform .6s ease-out;
    }

    .heroTitleDivider {
      transition: opacity .6s .6s ease-out;
    }

    .heroTitleLower {
      transform: translateY(3px);
      transition: opacity 1.2s 1s ease-out,
                  transform 1.2s 1s ease-out;
    }

    .heroTitleAddress {
      transition: opacity 1.2s 1.4s ease-out;
    }

    &.show {
      .heroTitleUpper,
      .heroTitleDivider,
      .heroTitleLower,
      .heroTitleAddress {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
