@import "../../../scss/add-ons";

:local {
  .section {
    height: 100vh;
    position: relative;
    width: 100%;

    &.border {
      border-style: solid;
      border-color: $black-1;
      border-width: 10px;
      height: calc(100vh - 20px);
      width: calc(100% - 20px);
    }
  }
}
